/* LEFT FILTER MENU */

	.left_filter_menu {
		position: sticky;
		top:0;
		text-align: center;
		z-index: 1000 !important;
	}

	.resources_title {
		margin-bottom: 20px;
		font-size: 13pt;
		font-weight: bold;
	}

	.resource_name {
		font-size: 10pt;
		line-height: 9pt;
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}

	.left_menu_logo {
		width: 86%;
		margin:  10px;
	}

	.left_filter_menu #manage_button {
    	position: relative;
		padding-top: 3px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 15px;
		cursor: pointer;
	}



    /* SWITTCH RESOURCES */ 
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/*background-color: #FFF;*/
		-webkit-transition: .4s;
		transition: .4s;
		-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);			
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 34px;
		width: 34px;
		left: -2px;
		bottom: -2px;
		background-color: #e6e6e6;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		/*background-color: #2196F3;*/
	}

	input:focus + .slider {
		box-shadow: 0 0 1px rgba(0,0,0,.2);
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		transform: translateX(30px);
	}

	.slider-move {
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		transform: translateX(30px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 30px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	/* courses switch */
	input:checked + .slider.round.courses_slider:before {
		background-color: #5065e6; /*gb(31,96,148);*/
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}
	.slider.round.courses_slider:before, .no_courses_badge {
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}

	/* lectures switch */
	input:checked + .slider.round.lectures_slider:before {
		background-color: #9b26af;
		background-image: url('/images/resource/lecture_off.png');
		background-size: 100%;
	}
	.slider.round.lectures_slider:before, .no_lectures_badge {
		background-image: url('/images/resource/lecture_off.png');
		background-size: 100%;
	}
	
	/* tools switch */
	input:checked + .slider.round.tools_slider:before {
		background-color: #e81d62;
		background-image: url('/images/resource/tool_off.png');
		background-size: 100%;

	}
	.slider.round.tools_slider:before, .no_tools_badge {
		background-image: url('/images/resource/tool_off.png');
		background-size: 100%;
	}

	/* cases switch */
	input:checked + .slider.round.study_cases_slider:before {
		background-color: #ffad00;
		background-image: url('/images/resource/study_case_off.png');
		background-size: 100%;
	}
	.slider.round.study_cases_slider:before, .no_cases_badge {
		background-image: url('/images/resource/study_case_off.png');
		background-size: 100%;
	}

	/* projects switch */
	input:checked + .slider.round.projects_slider:before {
		background-color: #99c22f;
		background-image: url('/images/resource/project_off.png');
		background-size: 100%;		
	}
	.slider.round.projects_slider:before, .no_projects_badge {
		background-image: url('/images/resource/project_off.png');
		background-size: 100%;
	}

	/* news switch */
	input:checked + .slider.round.news_slider:before {
		background-color: #00BCD4;
		background-image: url('/images/resource/news_off.png');
		background-size: 100%;

	}
	.slider.round.news_slider:before {
		background-image: url('/images/resource/news_off.png');
		background-size: 100%;
	}


	.edit-mode {
		background-color: #EEE;
	}