body {
    background-color: #f9f9f9;
    color: #999999;
    font-family: 'Ubuntu', lens, sans-serif;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
    src :url("../webfonts/fa-solid-900.eot") format("embedded-opentype"),
    url("../webfonts/fa-solid-900.woff2") format("woff2"),
    url("../webfonts/fa-solid-900.woff") format("woff"),
    url("../webfonts/fa-solid-900.ttf") format("truetype"),
    url("../webfonts/fa-solid-900.svg") format("svg");
}

article {
    min-height: 60vh;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

label {
    margin: 0px;
    font-size: 13px;
}

form {
    width: 100%;
}

th {
    font-weight: 400;
}

.form-control {
    border-radius: 16px;
}

/* ---- HEADER ---- */

.navbar-toggle .icon-bar {
    background-color: #1f6094;
    border-radius: 4px;
    height: 3px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.navbar-toggle {
    float: left;
    margin-left: 10px;
}

.left-logo {
    width: 16.66667%;
}

#header-advanced-search {
    display: inherit;
    text-align: center;
    cursor: pointer;
    font-size: 10pt;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 5px;
    text-transform: uppercase;
}

#search-box-header {
    padding-top: 18px;
    margin-top: -15px;
}

.header-search {
    font-family: Arial, FontAwesome;
}


.header-search-mobile {
    background-color: #1f6094;
    color: white;
}

.header-search-mobile:focus {
    background-color: #1f6094;
    color: white;
}

#header-mobile-menu a {
    color: #999;
    font-weight: bold;
    font-size: 9pt;
}

.header-menu-icons {
    float: right;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 68px;
}

.header-menu-icons a {
    color: #999;
    font-weight: bold;
    font-size: 9pt;
}

.header-menu-icons a:hover {
    text-decoration: none;
    color: #1f6094;
    font-weight: bold;
}

.header-menu-profile {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.header-menu-profile:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.profile_links {
    top: 55px;
}

.header-logo {
    max-width: 80%;
    max-height: 50px;
    text-align: center;
}

.header-logo-mobile {
    max-width: 80%;
    max-height: 40px;
    margin-top: 5px;
}

.header-logo-title {
    font-size: 9pt;
    line-height: 10pt;
    margin-top: 10px;
    height: 30px;
    text-align: center;
}


#header-search-clear {
    border: 1px solid transparent;
    vertical-align: middle;
    outline: 0;
    content: "X";
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #1f6094;
    z-index: 1;
    right: 25px;
    top: -22px;
    bottom: 0;
    margin: auto;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}

.header-search:not(:valid) ~ .close-icon {
    display: none;
}

.dropdown-item {
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}

header .header-menu-icons:after {
    display: none;
}


/********* COLORS ********/

/* LENS */
.bck-lens, .bck-partnersgroup {
    background-color: #1f6094;
}


.text-lens {
    color: #1f6094 !important;
}

.form-control::-webkit-input-placeholder {
    color: #C0C0C0;
}


/* COURSE */
.text-course {
    color: #5065e6 !important;
}

.bck-course {
    background-color: #5065e6;
}

.bck-course-unpublished {
    background-color: rgba(31, 96, 148, 0.7);
}

.course_hover:hover {
    background-color: #5065e6;
    color: white;
}

/* course button */
.bck-course-img {
    background-color: #5065e6;
    background-image: url('/images/resource/course_off.png');
}


.lecture_grid_li:hover > .row > .grid_xs > .course_hover {
    background-color: #5065e6;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .news_hover {
    background-color: #5065e6;
    color: white;
}


/* lecture */
.bck-lecture {
    background-color: #9b26af;
}

/* lecture */
.bck-lecture-unpublished {
    background-color: #9b26af;
    opacity: 0.6;
}

.text-lecture {
    color: #9b26af !important;
}

.bck-lecture-img {
    background-color: #9b26af;
    background-image: url('/images/resource/lecture_off.png');
}

.hover-lecture:hover {
    color: white !important;
    background-color: #9b26af;
}

.lecture_hover:hover {
    background-color: #9b26af;
    color: white;
}

.lecture_grid_li:hover > .row > .grid_xs > .lecture_hover {
    background-color: #9b26af;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .lecture_hover {
    background-color: #9b26af;
    color: white;
}


/* TUTORIAL */
.bck-tutorial {
    background-color: #5d6d7e;
}

/* lecture */
.bck-tutorial-unpublished {
    background-color: #5d6d7e;
    opacity: 0.6;
}

.text-tutorial {
    color: #5d6d7e !important;
}

.bck-tutorial-img {
    background-color: #5d6d7e;
    background-image: url('/images/resource/tutorial_off.png');
}

.hover-tutorial:hover {
    color: white !important;
    background-color: #5d6d7e;
}

.tutorial_hover:hover {
    background-color: #5d6d7e;
    color: white;
}

.tutorial_grid_li:hover > .row > .grid_xs > .tutorial_hover {
    background-color: #5d6d7e;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .tutorial_hover {
    background-color: #5d6d7e;
    color: white;
}



/*** TOOLS *****/
.bck-tools {
    background-color: #e81d62;
}

.text-tools {
    color: #e81d62 !important;
}

.bck-tool-img {
    background-color: #e81d62;
    background-image: url('/images/resource/tool_off.png');
}

.tool_hover:hover {
    background-color: #e81d62;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .tool_hover {
    background-color: #e81d62;
    color: white;
}

/***** STUDY CASES *****/
.bck-study-case, .bck-study_case, .bck-studycase {
    background-color: #ffad00;
}

.text-studycase, .text_studycase {
    color: #ffad00 !important;
}


.bck-study_case-img, .bck-study-case-img {
    background-color: #ffad00;
    background-image: url('/images/resource/study_case_off.png');
}

.study_case_hover:hover {
    background-color: #ffad00;
    color: white;
}


.datatable_grid_div:hover > div > .row > .grid_xs > .study_case_hover {
    background-color: #ffad00;
    color: white;
}

/* projects */
.bck-project, .bck-challengegroup {
    background-color: #99c22f;
}

.text-project {
    color: #99c22f !important;
}

.bck-project-img {
    background-color: #99c22f;
    background-image: url('/images/resource/project_off.png');
}

.project_hover:hover {
    background-color: #99c22f;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .project_hover {
    background-color: #99c22f;
    color: white;
}


/* NEWS */
.bck-news {
    background-color: #00BCD4;
}

.bck-news-img {
    background-color: #00BCD4;
    background-image: url('/images/resource/news_off.png');
}

.text-news {
    color: #00BCD4 !important;
}

#newsCarousel .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;

}

a.news-link {
    color: white;
}

/***** TUTORIALS *****/
.bck-tutorial-img {
    background-color: #5D6D7E;
    background-image: url('/images/resource/tutorial_off.png');
}

.bck-tutorial {
    background-color: #5D6D7E;
}

.text-tutorial {
    color: #5D6D7E !important;
}

.btn-tutorial-small {
    background-color: #5D6D7E;
    background-image: url('/images/resource/tutorial_off.png');
}

.tutorial_hover:hover {
    background-color: #5D6D7E;
    color:white;
}


/***** BUTTONS *******/
.btn-30, .btn-20, .btn-35 {
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    text-align: center;
}

.btn-20 {
    height: 20px;
    width: 20px;
}

.btn-30 {
    height: 30px;
    width: 30px;
}

.btn-35 {
    height: 35px;
    width: 35px;
}


/** HOVER **/
.hover {
    transition: color 0.15s ease-in-out;
}

.btn:hover {
    transform: scale(1.1) !important;
    transition: transform 0.2s !important;

}

.hover:hover {
    background-color: #EEEEEE;
}

.hover:active {
    background-color: #EEEEEE;
}


/** FOOTER  **/
footer {
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #3d5f8d;
    padding: 50px;
    color: white;
}


.footer-creative-commons-text {
    font-size: 8pt;
    color: #ccc;
}

.footer-creative-commons-icons {
    font-size: 25pt;
}

.social_icons {
    height: 27px;
    margin: 3px;
    border-radius: 50%;
}

.platform-version {
    color: #CCC;
    font-size: 10pt;
}

.header-search-button {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: #3d5f8d;
    transition: 0.3s;
}

.header-search-button:hover {
    background-color: #3d5f8d;
    color: white;
}

.header-buttons {
    font-size: 20pt;
    color: rgba(256, 256, 256, .6);
    height: 50px;
}

.header-buttons-switches {
    font-size: 14pt;
    line-height: 13pt;
    color: rgba(256, 256, 256, .6);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.multiselect-container {
    padding-right: 10px !important;
}

.opacity-5 {
    opacity: 0.5;
}

.opacity-10 {
    opacity: 1;
}

.horizontal-menu-outer {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.horizontal-menu-outer div {
    background-color: #eee;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
}

.nav-link {
    color: rgb(153, 153, 153);
}

.nav-tabs .nav-link.active {
    background: none;
}


/** RESOURCE BADGES **/

.resource-title {
    font-size: 13pt;
    font-weight: bold;
}

.resource-badge-30 {
    height: 30px;
    width: 30px;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

/* course button */
.badge-course {
    background-color: #5065e6;
    background-image: url('/images/resource/course_off.png');
}

.badge-lecture {
    background-color: #9b26af;
    background-image: url('/images/resource/lecture_off.png');
}

.badge-tool {
    background-color: #e81d62;
    background-image: url('/images/resource/tool_off.png');
}

.badge-study-case {
    background-color: #ffad00;
    background-image: url('/images/resource/study_case_off.png');
}

.badge-project {
    background-color: #99c22f;
    background-image: url('/images/resource/project_off.png');
}


.badge-news {
    background-color: #00BCD4;
    background-image: url('/images/resource/news_off.png');
}

.badge-tutorial {
    background-color: #5D6D7E;
    background-image: url('/images/resource/tutorial_off.png');
}


.resource-info-title {
    color: #b2b2b2;
    font-size: 11pt;
    margin-bottom: 7px;
}

.image, .cover-image {
    max-width: 100%;
    max-height: 1000px;
    width: 100%;
}

.cover-image {
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid lightgray;
}

.resource-card {
    height: 305px;
    background-color: #e6e6e6;
}

.ui-sortable {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.round_button {
    position: relative;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    border-radius: 15px;
    padding-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.round_button:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.row.carousel-item.active {
    display: flex;
}


.dropzone_div {
    padding: 10px 20px;
    background-color: white;
    border: 2px dotted #CCC;
    font-size: 14px;
    color: #CCC;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}


#criteriaTabFloat {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}

.criteria-selected {
    background-color: #FFAD00 !important;
    color: white !important;
}

.criteria-parent-selected {
    background-color: #fcd88a;
    color: white !important;
}

.select_by_criteria_tab {
    position: absolute;
    right: 0;
    width: 250px;
    z-index: 500;
    font-size: 10pt;
}

#criteria_view_content {
    width: calc(100% - 250px);
    float: left;
}

.criteria_loader {
    width: 100%;
    text-align: center;
    padding-left: 250px;
    margin-top: 30px;
}

.width-100 {
    width: 100%;
}

.odd {
    background-color: #DFDFDF;
}

.even {
    background-color: #F9F9F9;
}

.select_by_criteria_tab_pane {
    background-color: #FFAD00;
    color: white;
    min-height: 55px;
}

.select_by_criteria_tab .nav-link.active {
    background-color: #FFAD00 !important;
    border: none 0px;
    color: white;
}

.select_by_criteria_tab .nav-link {
    background-color: #F9F9F9 !important;
}


.select_by_criteria_tab .nav-tabs .nav-item {
    margin-bottom: -3px;
}

.no-arrow::after {
    display: none;
}


@media only screen and (max-width: 768px) {

    .lens-nav {
        border-bottom: 1px #DDD solid;
    }

    .lens-nav > li {
        height: 40px;
        margin-bottom: 10px !important;
    }

    .lens-nav > li > a, .lens-nav > li > a.active {

        background-color: transparent;
        color: #1F6094;
        font-weight: bold;
        border-radius: 20px !important;
        padding-bottom: 12px;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 40px;
        border: 2px solid #1F6094 !important;
        margin-bottom: 49px;
    }

    .lens-nav > li > a.active {
        color: white !important;
        background-color: #1F6094 !important;
    }

    .lens-nav > li > a:hover {
        border-radius: 20px !important;
    }
}

.video-js {
    width: 100%;
}


@media (min-width: 992px) {
    .modal-lg {
        max-width: 980px !important;
    }
}

.carousel-control-prev {
    /*left: -60px !important;*/
    width: 5% !important;
    height: 50px;
    top: 150px;
}

.transparent {
    opacity: 0.6;
}

.carousel-control-next {
    width: 5% !important;
    height: 50px;
    top: 150px;
}

.btn {
    color: white;
    border-radius: 20px;
}


.list-section-flex {
     background-color: #fcfcfc;
     border: 1px #CCC solid;
     border-radius: 10px;
     display: flex;
     flex-flow: row wrap;
     width: 100%;
     padding: 20px;
     margin: 20px 0px;
 }

.list-section {
    background-color: #fcfcfc;
    border: 1px #CCC solid;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 20px 0px;
}


.radio_course + label{
    background-color: #f2f2f2;
    color: #666;
}


.radio_course:checked + label {
    background-color: #419641;
    color: white;
}

.edit_project_resource.active {
    background-color: #E9E9E9;
}

.edit_project_resource {
    display: flex;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f0d8";
    float: right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0d7";
    font-family: 'FontAwesome';
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 19px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}


.publish_object {
    height: 40px;
    width: 40px;
    padding: 0px;
}

#datatable-grid-view-switch {
    width: 20px;
    height: 20px;
}
body {
    background-color: #f9f9f9;
    color: #999999;
    font-family: 'Ubuntu', lens, sans-serif;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
    src :url("../webfonts/fa-solid-900.eot") format("embedded-opentype"),
    url("../webfonts/fa-solid-900.woff2") format("woff2"),
    url("../webfonts/fa-solid-900.woff") format("woff"),
    url("../webfonts/fa-solid-900.ttf") format("truetype"),
    url("../webfonts/fa-solid-900.svg") format("svg");
}

article {
    min-height: 60vh;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

label {
    margin: 0px;
    font-size: 13px;
}

form {
    width: 100%;
}

th {
    font-weight: 400;
}

.form-control {
    border-radius: 16px;
}

/* ---- HEADER ---- */

.navbar-toggle .icon-bar {
    background-color: #1f6094;
    border-radius: 4px;
    height: 3px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.navbar-toggle {
    float: left;
    margin-left: 10px;
}

.left-logo {
    width: 16.66667%;
}

#header-advanced-search {
    display: inherit;
    text-align: center;
    cursor: pointer;
    font-size: 10pt;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 5px;
    text-transform: uppercase;
}

#search-box-header {
    padding-top: 18px;
    margin-top: -15px;
}

.header-search {
    font-family: Arial, FontAwesome;
}


.header-search-mobile {
    background-color: #1f6094;
    color: white;
}

.header-search-mobile:focus {
    background-color: #1f6094;
    color: white;
}

#header-mobile-menu a {
    color: #999;
    font-weight: bold;
    font-size: 9pt;
}

.header-menu-icons {
    float: right;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 68px;
}

.header-menu-icons a {
    color: #999;
    font-weight: bold;
    font-size: 9pt;
}

.header-menu-icons a:hover {
    text-decoration: none;
    color: #1f6094;
    font-weight: bold;
}

.header-menu-profile {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.header-menu-profile:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.profile_links {
    top: 55px;
}

.header-logo {
    max-width: 80%;
    max-height: 50px;
    text-align: center;
}

.header-logo-mobile {
    max-width: 80%;
    max-height: 40px;
    margin-top: 5px;
}

.header-logo-title {
    font-size: 9pt;
    line-height: 10pt;
    margin-top: 10px;
    height: 30px;
    text-align: center;
}


#header-search-clear {
    border: 1px solid transparent;
    vertical-align: middle;
    outline: 0;
    content: "X";
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #1f6094;
    z-index: 1;
    right: 25px;
    top: -22px;
    bottom: 0;
    margin: auto;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}

.header-search:not(:valid) ~ .close-icon {
    display: none;
}

.dropdown-item {
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}

header .header-menu-icons:after {
    display: none;
}


/********* COLORS ********/

/* LENS */
.bck-lens, .bck-partnersgroup {
    background-color: #1f6094;
}


.text-lens {
    color: #1f6094 !important;
}

.form-control::-webkit-input-placeholder {
    color: #C0C0C0;
}


/* COURSE */
.text-course {
    color: #5065e6 !important;
}

.bck-course {
    background-color: #5065e6;
}

.bck-course-unpublished {
    background-color: rgba(31, 96, 148, 0.7);
}

.course_hover:hover {
    background-color: #5065e6;
    color: white;
}

/* course button */
.bck-course-img {
    background-color: #5065e6;
    background-image: url('/images/resource/course_off.png');
}


.lecture_grid_li:hover > .row > .grid_xs > .course_hover {
    background-color: #5065e6;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .news_hover {
    background-color: #5065e6;
    color: white;
}


/* lecture */
.bck-lecture {
    background-color: #9b26af;
}

/* lecture */
.bck-lecture-unpublished {
    background-color: #9b26af;
    opacity: 0.6;
}

.text-lecture {
    color: #9b26af !important;
}

.bck-lecture-img {
    background-color: #9b26af;
    background-image: url('/images/resource/lecture_off.png');
}

.hover-lecture:hover {
    color: white !important;
    background-color: #9b26af;
}

.lecture_hover:hover {
    background-color: #9b26af;
    color: white;
}

.lecture_grid_li:hover > .row > .grid_xs > .lecture_hover {
    background-color: #9b26af;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .lecture_hover {
    background-color: #9b26af;
    color: white;
}


/* TUTORIAL */
.bck-tutorial {
    background-color: #5d6d7e;
}

/* lecture */
.bck-tutorial-unpublished {
    background-color: #5d6d7e;
    opacity: 0.6;
}

.text-tutorial {
    color: #5d6d7e !important;
}

.bck-tutorial-img {
    background-color: #5d6d7e;
    background-image: url('/images/resource/tutorial_off.png');
}

.hover-tutorial:hover {
    color: white !important;
    background-color: #5d6d7e;
}

.tutorial_hover:hover {
    background-color: #5d6d7e;
    color: white;
}

.tutorial_grid_li:hover > .row > .grid_xs > .tutorial_hover {
    background-color: #5d6d7e;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .tutorial_hover {
    background-color: #5d6d7e;
    color: white;
}



/*** TOOLS *****/
.bck-tools {
    background-color: #e81d62;
}

.text-tools {
    color: #e81d62 !important;
}

.bck-tool-img {
    background-color: #e81d62;
    background-image: url('/images/resource/tool_off.png');
}

.tool_hover:hover {
    background-color: #e81d62;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .tool_hover {
    background-color: #e81d62;
    color: white;
}

/***** STUDY CASES *****/
.bck-study-case, .bck-study_case, .bck-studycase {
    background-color: #ffad00;
}

.text-studycase, .text_studycase {
    color: #ffad00 !important;
}


.bck-study_case-img, .bck-study-case-img {
    background-color: #ffad00;
    background-image: url('/images/resource/study_case_off.png');
}

.study_case_hover:hover {
    background-color: #ffad00;
    color: white;
}


.datatable_grid_div:hover > div > .row > .grid_xs > .study_case_hover {
    background-color: #ffad00;
    color: white;
}

/* projects */
.bck-project, .bck-challengegroup {
    background-color: #99c22f;
}

.text-project {
    color: #99c22f !important;
}

.bck-project-img {
    background-color: #99c22f;
    background-image: url('/images/resource/project_off.png');
}

.project_hover:hover {
    background-color: #99c22f;
    color: white;
}

.datatable_grid_div:hover > div > .row > .grid_xs > .project_hover {
    background-color: #99c22f;
    color: white;
}


/* NEWS */
.bck-news {
    background-color: #00BCD4;
}

.bck-news-img {
    background-color: #00BCD4;
    background-image: url('/images/resource/news_off.png');
}

.text-news {
    color: #00BCD4 !important;
}

#newsCarousel .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;

}

a.news-link {
    color: white;
}

/***** TUTORIALS *****/
.bck-tutorial-img {
    background-color: #5D6D7E;
    background-image: url('/images/resource/tutorial_off.png');
}

.bck-tutorial {
    background-color: #5D6D7E;
}

.text-tutorial {
    color: #5D6D7E !important;
}

.btn-tutorial-small {
    background-color: #5D6D7E;
    background-image: url('/images/resource/tutorial_off.png');
}

.tutorial_hover:hover {
    background-color: #5D6D7E;
    color:white;
}


/***** BUTTONS *******/
.btn-30, .btn-20, .btn-35 {
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    text-align: center;
}

.btn-20 {
    height: 20px;
    width: 20px;
}

.btn-30 {
    height: 30px;
    width: 30px;
}

.btn-35 {
    height: 35px;
    width: 35px;
}


/** HOVER **/
.hover {
    transition: color 0.15s ease-in-out;
}

.btn:hover {
    transform: scale(1.1) !important;
    transition: transform 0.2s !important;

}

.hover:hover {
    background-color: #EEEEEE;
}

.hover:active {
    background-color: #EEEEEE;
}


/** FOOTER  **/
footer {
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #3d5f8d;
    padding: 50px;
    color: white;
}


.footer-creative-commons-text {
    font-size: 8pt;
    color: #ccc;
}

.footer-creative-commons-icons {
    font-size: 25pt;
}

.social_icons {
    height: 27px;
    margin: 3px;
    border-radius: 50%;
}

.platform-version {
    color: #CCC;
    font-size: 10pt;
}

.header-search-button {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: #3d5f8d;
    transition: 0.3s;
}

.header-search-button:hover {
    background-color: #3d5f8d;
    color: white;
}

.header-buttons {
    font-size: 20pt;
    color: rgba(256, 256, 256, .6);
    height: 50px;
}

.header-buttons-switches {
    font-size: 14pt;
    line-height: 13pt;
    color: rgba(256, 256, 256, .6);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.multiselect-container {
    padding-right: 10px !important;
}

.opacity-5 {
    opacity: 0.5;
}

.opacity-10 {
    opacity: 1;
}

.horizontal-menu-outer {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.horizontal-menu-outer div {
    background-color: #eee;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
}

.nav-link {
    color: rgb(153, 153, 153);
}

.nav-tabs .nav-link.active {
    background: none;
}


/** RESOURCE BADGES **/

.resource-title {
    font-size: 13pt;
    font-weight: bold;
}

.resource-badge-30 {
    height: 30px;
    width: 30px;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

/* course button */
.badge-course {
    background-color: #5065e6;
    background-image: url('/images/resource/course_off.png');
}

.badge-lecture {
    background-color: #9b26af;
    background-image: url('/images/resource/lecture_off.png');
}

.badge-tool {
    background-color: #e81d62;
    background-image: url('/images/resource/tool_off.png');
}

.badge-study-case {
    background-color: #ffad00;
    background-image: url('/images/resource/study_case_off.png');
}

.badge-project {
    background-color: #99c22f;
    background-image: url('/images/resource/project_off.png');
}


.badge-news {
    background-color: #00BCD4;
    background-image: url('/images/resource/news_off.png');
}

.badge-tutorial {
    background-color: #5D6D7E;
    background-image: url('/images/resource/tutorial_off.png');
}


.resource-info-title {
    color: #b2b2b2;
    font-size: 11pt;
    margin-bottom: 7px;
}

.image, .cover-image {
    max-width: 100%;
    max-height: 1000px;
    width: 100%;
}

.cover-image {
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid lightgray;
}

.resource-card {
    height: 305px;
    background-color: #e6e6e6;
}

.ui-sortable {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.round_button {
    position: relative;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    border-radius: 15px;
    padding-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.round_button:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.row.carousel-item.active {
    display: flex;
}


.dropzone_div {
    padding: 10px 20px;
    background-color: white;
    border: 2px dotted #CCC;
    font-size: 14px;
    color: #CCC;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}


#criteriaTabFloat {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}

.criteria-selected {
    background-color: #FFAD00 !important;
    color: white !important;
}

.criteria-parent-selected {
    background-color: #fcd88a;
    color: white !important;
}

.select_by_criteria_tab {
    position: absolute;
    right: 0;
    width: 250px;
    z-index: 500;
    font-size: 10pt;
}

#criteria_view_content {
    width: calc(100% - 250px);
    float: left;
}

.criteria_loader {
    width: 100%;
    text-align: center;
    padding-left: 250px;
    margin-top: 30px;
}

.width-100 {
    width: 100%;
}

.odd {
    background-color: #DFDFDF;
}

.even {
    background-color: #F9F9F9;
}

.select_by_criteria_tab_pane {
    background-color: #FFAD00;
    color: white;
    min-height: 55px;
}

.select_by_criteria_tab .nav-link.active {
    background-color: #FFAD00 !important;
    border: none 0px;
    color: white;
}

.select_by_criteria_tab .nav-link {
    background-color: #F9F9F9 !important;
}


.select_by_criteria_tab .nav-tabs .nav-item {
    margin-bottom: -3px;
}

.no-arrow::after {
    display: none;
}


@media only screen and (max-width: 768px) {

    .lens-nav {
        border-bottom: 1px #DDD solid;
    }

    .lens-nav > li {
        height: 40px;
        margin-bottom: 10px !important;
    }

    .lens-nav > li > a, .lens-nav > li > a.active {

        background-color: transparent;
        color: #1F6094;
        font-weight: bold;
        border-radius: 20px !important;
        padding-bottom: 12px;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 40px;
        border: 2px solid #1F6094 !important;
        margin-bottom: 49px;
    }

    .lens-nav > li > a.active {
        color: white !important;
        background-color: #1F6094 !important;
    }

    .lens-nav > li > a:hover {
        border-radius: 20px !important;
    }
}

.video-js {
    width: 100%;
}


@media (min-width: 992px) {
    .modal-lg {
        max-width: 980px !important;
    }
}

.carousel-control-prev {
    /*left: -60px !important;*/
    width: 5% !important;
    height: 50px;
    top: 150px;
}

.transparent {
    opacity: 0.6;
}

.carousel-control-next {
    width: 5% !important;
    height: 50px;
    top: 150px;
}

.btn {
    color: white;
    border-radius: 20px;
}


.list-section-flex {
    background-color: #fcfcfc;
    border: 1px #CCC solid;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px;
    margin: 20px 0px;
}

.list-section {
    background-color: #fcfcfc;
    border: 1px #CCC solid;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 20px 0px;
}


.radio_course + label{
    background-color: #f2f2f2;
    color: #666;
}


.radio_course:checked + label {
    background-color: #419641;
    color: white;
}

.edit_project_resource.active {
    background-color: #E9E9E9;
}

.edit_project_resource {
    display: flex;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f0d8";
    float: right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0d7";
    font-family: 'FontAwesome';
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 19px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #000000;
    width: 30px;
    height: 30px;
}


.publish_object {
    height: 40px;
    width: 40px;
    padding: 0px;
}

#datatable-grid-view-switch {
    width: 20px;
    height: 20px;
}

.inline_for_button {
    width: calc(100% - 50px);
    float: left;
    margin-right: 10px;
}
.inline_for_button {
    width: calc(100% - 50px);
    float: left;
    margin-right: 10px;
}




.resourceRowUnpublished {
    height: 100px;
    background-color: #CCC;
}

.resourceRowUnpublished {
    height: 100px;
    background-color: #EA83FC;
}

.resolved {
    background-color: #b9edc3 !important;
}

