@charset "UTF-8";

@font-face {
  font-family: "lens";
  src:url("/css/fonts/lens.eot");
  src:url("/css/fonts/lens.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/lens.woff") format("woff"),
    url("/css/fonts/lens.ttf") format("truetype"),
    url("/css/fonts/lens.svg#lens") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lens" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "lens" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-frames:before {
  content: "\61";
}
.icon-video:before {
  content: "\62";
}
.icon-volume:before {
  content: "\63";
}
.icon-ellipsis-h:before {
  content: "\66";
}
.icon-file-audio-o:before {
  content: "\65";
}
.icon-ellipsis-h:before {
  content: "\66";
}
.icon-file-o:before {
  content: "\64";
}
.icon-slideshow-audio:before {
  content: "\65";
}
.icon-search:before {
  content: "\68";
}
.icon-down-dir:before {
  content: "\69";
}
.icon-up-dir:before {
  content: "\6a";
}
.icon-arrow-combo:before {
  content: "\6b";
}
.icon-main-case-study:before {
  content: "\67";
}
.icon-main-course:before {
  content: "\6c";
}
.icon-main-lectures:before {
  content: "\6d";
}
.icon-main-news:before {
  content: "\6e";
}
.icon-main-projects:before {
  content: "\6f";
}
.icon-main-tools:before {
  content: "\70";
}

.lens {
  font-family: lens;
}

.font-size-8 {
  font-size: 8pt;
}

.font-size-9 {
  font-size: 9pt;
}

.font-size-10 {
  font-size: 10pt;
}