/* RIGHT FILTER MENU */
	#dropdownMenuLanguageLeft {
		font-size: 10pt;
		font-weight: bold;
		margin-top: 10px;
	}

	.right-menu-filter {
		position: sticky;
		top: 0;
		padding-top: 20px;
	}

	.language-link:hover {
		text-decoration: underline;
		cursor: pointer;
	}

/* SWITTCH PLATFORMS */ 
	/* The switch - the box around the slider */
	.switch_platform {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 15px;
	}

	/* Hide default HTML checkbox */
	.switch_platform input {display:none;}

	/* The slider */
	.slider_platform {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/*background-color: #FFF;*/
		-webkit-transition: .4s;
		transition: .4s;
		-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);			
	}

	.slider_platform:before {
		position: absolute;
		content: "";
		height: 19px;
		width: 19px;
		left: -2px;
		bottom: -2px;
		-webkit-transition: .4s;
		transition: .4s;
		background-size: 100%;
		background-color: rgb(31,96,148);
    }
    

	/* Rounded sliders */
	.slider_platform.round {
		border-radius: 20px;
	}

	.slider_platform.round:before {
		border-radius: 50%;
    }
    
	input:focus + .slider_platform {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider_platform:before {
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
		
    }
    
	.platform_name {
		font-size: 10pt;
		line-height: 9pt;
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}    

