@font-face {
	font-family: "FontAwesome";
	font-weight: normal;
	font-style : normal;
	src :url("../css/webfonts/fa-solid-900.eot") format("embedded-opentype"),
	url("../css/webfonts/fa-solid-900.woff2") format("woff2"),
	url("../css/webfonts/fa-solid-900.woff") format("woff"),
	url("../css/webfonts/fa-solid-900.ttf") format("truetype"),
	url("../css/webfonts/fa-solid-900.svg") format("svg");
}

.ui-autocomplete {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(152,203,232,.6);
	border-color: #98cbe8;
	border: 1px solid #ccd0d2;
	padding: 0px;
	width:30% !important;
}

.ui-autocomplete > li
{
	list-style-type: none;
	background-color: #FFF;
	padding: 5px;
	margin: 0px;
	cursor: pointer;
}

.ui-autocomplete > li:hover {
	color: white;
	background-color: #999999;
}

img{
	margin-bottom: 0;
}

body {
	background-color: #f9f9f9;
	color: #999999;
	font-family: 'Ubuntu', lens, sans-serif;
}

.btn {
	border-radius: 20px;
	color: white;
}

.btn:hover {
	color: #CCC;
}

.hover:hover {
	background-color: #CCC;
}

td {
	/*word-break: break-all;*/
	word-wrap: break-word;
	hyphens: auto
}

/* HEADER */

	.navbar-toggle .icon-bar {
		background-color: #1f6094;
		border-radius: 4px;
		height: 3px;
	}

	.navbar-toggle .icon-bar+.icon-bar {
	    margin-top: 3px;
	}

	.navbar-toggle {
		float:left;
		margin-left: 10px;
	}

	.left-logo {
		width: 16.66667%;
	}

	.header-logo {
		text-align: center;
	}

	.header-advanced-search {
		display: inherit;
		text-align: center;
		cursor: pointer;
		font-size: 10pt;
		font-weight: bold;
		padding-top: 5px;
	}


 	.header-search {
 		font-family: Arial, FontAwesome;
 	}


	.header-menu-icons {
		float: right;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;	
		width: 68px;	
	} 

	.header-menu-icons a {
		color:#999;
		font-weight: bold;
		font-size: 9pt;
	}

	.header-menu-icons a:hover {
		text-decoration: none;
		color: #1f6094;
		font-weight: bold;
	}

	.header-menu-profile {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
		margin: 0 auto;
		background-size: cover;
		background-position: center;
		opacity: 0.8;		
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}

	.header-menu-profile:hover {
		-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
		box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
		cursor: pointer;
	}

	.profile_links {
		top:55px;
	}

	.header-logo {
		max-width: 80%;
		max-height: 50px;
	}

	.header-logo-title {
		font-size: 9pt; 
		line-height: 10pt; 
		margin-top: 10px;
		height: 30px;
		text-align: center;
	}

/* ADVANCED SEARCH */
	.advanced_search_div {
		position: absolute;
		left: 120px;
		top: 30px;
		padding: 5px;
		background-color: white;
		-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		z-index: 1000;	
		display: none;
		min-width: 190px;
	}

	.advanced_search_div .panel-heading {
		background-color: #EEE;
		background-image:none;
		padding: 5px 10px;

	}

	.advanced_search_div .panel-title {
		font-size: 9pt;
		font-weight: bold;
		color: #1f6094;
	}

	.advanced_search_div .panel-collapse {
		font-size: 8pt;
		line-height: 9pt;
	}

	.advanced_search_div .panel-collapse {
		text-align: left;
	}

	.advanced_search_confirm_button{
		background-color: #95c325;
		color: #FFF;
		border-radius: 22px;
		padding: 2px 20px;
		margin-bottom: 5px;
	}

	.advanced_search_close_button {
		background-color: #cc3333;
		color: #FFF;
		border-radius: 22px;
		width:30px;
		height: 30px;
		padding: 2px;
		margin-bottom: 5px;
	}

	.advanced_search_div input[type=text], .advanced_search_div select {
	    padding: 2px 5px;
	    font-size: 9pt;
	    height: 22px;
    }

    .icon {
    	font-family: lens;
    }

    .round_button {
    	position: relative;
		height:30px;
		width: 30px;
		text-align: center;
		color: white;
		border-radius: 15px;
		padding-top: 3px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 15px;
		cursor: pointer;
		margin:5px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;		
    }

    .round_button:hover {
		-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
		box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
    }

	.resource_options {
		position: absolute;
		white-space: nowrap;
    	left: 46px;
		top: -10px;
		padding: 10px;
		background-color: white;
		z-index: 1000;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
		display: none;
		color: #333;
		cursor: default;
	}


    .btn-course-small, .btn-lecture-small, .btn-tool-small, .btn-study_case-small, .btn-tool-small, .btn-project-small, .btn-news-small, .btn-news-small {
    	height: 30px;
    	width: 30px;
    	margin: auto;
		background-size: 100%;    	
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
    }

    .btn-smaller {
    	height: 30px !important;
    	width: 30px !important;
    }

    .btn_35 {
    	height: 35px !important;
    	width: 35px !important;
    }

    .btn-smallest {
    	height: 19px !important;
    	width: 19px !important;
    	padding-top: 3px;
    }

	/********* COLORS ********/

	/* LENS */
	.bck-lens, .bck-partnersgroup {
		background-color: #1f6094;
	}

    .text-lens {
    	color: #1f6094 !important;
    }


	/* NEWS */
	.bck-news {
		background-color: #00BCD4;
	}

    .text-news {
    	color: #00BCD4 !important;
    }
	.btn-news-small {
		background-color: #00BCD4;
		background-image: url('/images/resource/news_off.png');
	}

	.lecture_grid_li:hover > .row > .grid_xs > .news_hover  {
		background-color: #00BCD4;
		color:white;
	}

	.lecture_grid_li {

	}

	.datatable_grid_div:hover > div > .row > .grid_xs > .news_hover  {
		background-color: #00BCD4;
		color:white;
	}
	
	.datatable_grid_width_div {
		width: 180px;
    	margin-left: auto;
    	margin-right: auto;	
	}
    

	/* USER */
	.bck-user {
		background-color: #DDD !important;
	}

	/* COURSE */
    .text-course {
    	color: #5065e6 !important;
    }	

    .bck-course {
    	background-color: #5065e6;
    }

    .bck-course-unpublished {
    	background-color: rgba(31, 96, 148, 0.7);
    }

	.course_hover:hover {
		background-color: #5065e6;
		color:white;
	}

    /* course button */
    .btn-course-small {
    	background-color: #5065e6;
		background-image: url('/images/resource/course_off.png');
    }


	.lecture_grid_li:hover > .row > .grid_xs > .course_hover  {
		background-color: #5065e6;
		color:white;
	}

	.datatable_grid_div:hover > div > .row > .grid_xs > .news_hover  {
		background-color: #5065e6;
		color:white;
	}


    /* lecture */
    .bck-lecture {
    	background-color: #9b26af;
    }

    /* lecture */
    .bck-lecture-unpublished {
    	background-color: #9b26af;
    	opacity: 0.6;
    }    

    .text-lecture {
    	color: #9b26af !important;
    }

	.btn-lecture-small {
		background-color: #9b26af;
		background-image: url('/images/resource/lecture_off.png');
	}

    .hover-lecture:hover {
    	color: white !important;
    	background-color: #9b26af;
    }

	.lecture_hover:hover {
		background-color: #9b26af;
		color:white;
	}

	.lecture_grid_li:hover > .row > .grid_xs > .lecture_hover  {
		background-color: #9b26af;
		color:white;
	}

	.datatable_grid_div:hover > div > .row > .grid_xs > .lecture_hover  {
		background-color: #9b26af;
		color:white;
	}

    /* Tools */
    .bck-tools {
    	background-color: #e81d62;
    }

    .text-tools {
    	color: #e81d62 !important;
    }

	.btn-tool-small {
		background-color: #e81d62;
		background-image: url('/images/resource/tool_off.png');
	}

	.tool_hover:hover {
		background-color: #e81d62;
		color:white;
	}

	.datatable_grid_div:hover > div > .row > .grid_xs > .tool_hover  {
		background-color: #e81d62;
		color:white;
	}

    /* study cases */
    .bck-study-case, .bck-studycase {
    	background-color: #ffad00;
    }

    .text-study-case {
    	color: #ffad00 !important;
    }


	.btn-study_case-small {
		background-color: #ffad00;
		background-image: url('/images/resource/study_case_off.png');
	}

	.study_case_hover:hover {
		background-color: #ffad00;
		color:white;
	}


	.datatable_grid_div:hover > div > .row > .grid_xs > .study_case_hover  {
		background-color: #ffad00;
		color:white;
	}

    /* projects */
    .bck-project, .bck-challengegroup {
    	background-color: #99c22f;
    }

    .text-project {
    	color: #99c22f !important;
    }

	.btn-project-small {
		background-color: #99c22f;
		background-image: url('/images/resource/project_off.png');
	}

	.project_hover:hover {
		background-color: #99c22f;
		color:white;
	}


/***** TUTORIALS *****/
.bck-tutorial-img {
	background-color: #5D6D7E;
	background-image: url('/images/resource/news_off.png');
}

.bck-tutorials {
	background-color: #5D6D7E;
}

.text-tutorials {
	color: #5D6D7E !important;
}

.btn-tutorials-small {
	background-color: #5D6D7E;
	background-image: url('/images/resource/tool_off.png');
}

.tutorials_hover:hover {
	background-color: #5D6D7E;
	color:white;
}



.datatable_grid_div:hover > div > .row > .grid_xs > .project_hover  {
		background-color: #99c22f;
		color:white;
	}

/* BACKEND (to add to buttons from https://jsfiddle.net/ms040m01/74/ */
.btn.active[data-active-class="primary"] {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

    
/* LEFT FILTER MENU */

	.left_filter_menu {
		text-align: center;
		z-index: 1000 !important;
	}

	.resources_title {
		margin-bottom: 20px;
		font-size: 13pt;
		font-weight: bold;
	}

	.resource_name {
		font-size: 10pt;
		line-height: 9pt;
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}

	.left_menu_logo {
		width: 86%;
		margin:  10px;
	}



/* FORMS */

	.form-control {
		border-radius: 16px;		
	}

	.dropdown_selector {
		font-size: 10pt;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 10px;

	}

/* SWITTCH RESOURCES */ 
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/*background-color: #FFF;*/
		-webkit-transition: .4s;
		transition: .4s;
		-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);			
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 34px;
		width: 34px;
		left: -2px;
		bottom: -2px;
		background-color: #e6e6e6;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		/*background-color: #2196F3;*/
	}

	input:focus + .slider {
		box-shadow: 0 0 1px rgba(0,0,0,.2);
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		transform: translateX(30px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 30px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	/* courses switch */
	input:checked + .slider.round.courses_slider:before {
		background-color: #5065e6; /*gb(31,96,148);*/
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}
	.slider.round.courses_slider:before, .no_courses_badge {
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}

	/* lectures switch */
	input:checked + .slider.round.lectures_slider:before {
		background-color: #9b26af;
		background-image: url('/images/resource/lecture_off.png');
		background-size: 100%;
	}
	.slider.round.lectures_slider:before, .no_lectures_badge {
		background-image: url('/images/resource/lecture_off.png');
		background-size: 100%;
	}
	
	/* tools switch */
	input:checked + .slider.round.tools_slider:before {
		background-color: #e81d62;
		background-image: url('/images/resource/tool_off.png');
		background-size: 100%;

	}
	.slider.round.tools_slider:before, .no_tools_badge {
		background-image: url('/images/resource/tool_off.png');
		background-size: 100%;
	}

	/* cases switch */
	input:checked + .slider.round.study_cases_slider:before {
		background-color: #ffad00;
		background-image: url('/images/resource/study_case_off.png');
		background-size: 100%;
	}
	.slider.round.study_cases_slider:before, .no_cases_badge {
		background-image: url('/images/resource/study_case_off.png');
		background-size: 100%;
	}

	/* projects switch */
	input:checked + .slider.round.projects_slider:before {
		background-color: #99c22f;
		background-image: url('/images/resource/project_off.png');
		background-size: 100%;		
	}
	.slider.round.projects_slider:before, .no_projects_badge {
		background-image: url('/images/resource/project_off.png');
		background-size: 100%;
	}

	/* news switch */
	input:checked + .slider.round.news_slider:before {
		background-color: #00BCD4;
		background-image: url('/images/resource/news_off.png');
		background-size: 100%;

	}
	.slider.round.news_slider:before {
		background-image: url('/images/resource/news_off.png');
		background-size: 100%;
	}

/* SWITTCH PLATFORMS */ 
	/* The switch - the box around the slider */
	.switch_platform {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 15px;
	}

	/* Hide default HTML checkbox */
	.switch_platform input {display:none;}

	/* The slider */
	.slider_platform {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/*background-color: #FFF;*/
		-webkit-transition: .4s;
		transition: .4s;
		-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);			
	}

	.slider_platform:before {
		position: absolute;
		content: "";
		height: 19px;
		width: 19px;
		left: -2px;
		bottom: -2px;
		-webkit-transition: .4s;
		transition: .4s;
		background-size: 100%;
		background-color: rgb(31,96,148);
	}

	input:checked + .slider_platform {
		/*background-color: #2196F3;*/
	}

	input:focus + .slider_platform {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider_platform:before {
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
		
	}

	/* Rounded sliders */
	.slider_platform.round {
		border-radius: 20px;
	}

	.slider_platform.round:before {
		border-radius: 50%;
	}

	/* courses switch */
	input:checked + .slider_platform.round.courses_slider:before {
		background-color: #5065e6 /*rgb(31,96,148)*/;
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}
	.slider_platform.round.courses_slider:before, .no_courses_badge {
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}

	.resource_badge {
		background-color: #e6e6e6;
		height:40px;
		width: 40px;
		text-align: center;
		color: white;
		border-radius: 20px;
		padding-top: 3px;
		padding-left: 0px;
		padding-right: 0px;	
		display: inline-block;	
	}


	.platform_name {
		font-size: 10pt;
		line-height: 9pt;
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}

	/* lenses switch */
	input:checked + .slider_platform.round.lenses_patform_switch:before {
		background-color: #ff2a7f;
		background-image: url('/images/platform/es_off.png');
		background-size: 100%;

	}
	.slider_platform.round.lenses_patform_switch:before {
		background-image: url('/images/platform/es_off.png');
		background-size: 100%;
	}

	/* lensin switch */
	input:checked + .slider_platform.round.lensin_patform_switch:before {
		background-color: #ef8020;
		background-image: url('/images/platform/in_off.png');
		background-size: 100%;

	}
	.slider_platform.round.lensin_patform_switch:before {
		background-image: url('/images/platform/in_off.png');
		background-size: 100%;
	}

	/* lensit switch */
	input:checked + .slider_platform.round.lensit_patform_switch:before {
		background-color: #99c22f;
		background-image: url('/images/platform/it_off.png');
		background-size: 100%;

	}
	.slider_platform.round.lensit_patform_switch:before {
		background-image: url('/images/platform/it_off.png');
		background-size: 100%;
	}

	.resource_header_title {
		font-size: 12pt;
		opacity: 0.6;
	}


/** FOOTER  **/
	footer {
		margin-top: 150px;
		margin-bottom: 0px;
		background-color: #3d5f8d;
		padding: 100px;

	}

	.social_icons {
		height: 27px;
		margin: 3px;
		border-radius: 50%;
	}


	.table_view_image {
		height: 30px;
		border-radius: 50%;
		margin: 2px;
		-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 7px 0 rgba(0,0,0,.2);			
	}

	.table_view_image.platform {
		height: 19px;
		width: 19px;
	}




/** RESOURCE PAGE */

.resource_header {
	text-align: center;
	padding: 0px;
	padding-bottom: 0px;
	color: white;
	margin-bottom: 20px;
}

.text-resource {
	color: #5b6ee3;	
}

.bck-resource {
	background-color: #5b6ee3;	
}

.resource-button {
	background-image: url('/images/resource/course_off.png');
	background-size: cover; 
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
    border:none;
}


.content-header {
	margin-top: 0px;
	border-bottom: 2px solid #e8e8e8;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.pill {
	width: 100%;
	padding: 5px 15px;
	border-radius: 15px;
	color: white;
	font-size: 12pt;
	line-height: 30px;
}

.title {
	color: #b2b2b2;
	font-size: 11pt;
	margin-bottom: 7px;
}

.title-pill {
    line-height: 20px;
    color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.image {
	max-width: 100%;
	max-height: 1000px;
	width:100%;
}

.teacher {

}

.home_datatable tr{
	cursor: pointer;
}


.home_grid_text {
	padding: 10px;
	height: 155px;
	background-color: #e6e6e6;
	line-height: 1.5;
	font-size: 10pt;
}

#grid_view_content {
	text-align: center;
	width: 100%;
}




.remove_teacher:hover .remove_teacher_button {
	opacity: 1;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.remove_teacher_button {
	position: absolute;
	top: 40px;
	right:35px;
	opacity: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;

}

.alert {
	width: 100%;
	border-radius: 0px;
	margin-bottom: 0px !important;
	border: 0px none;
	z-index: 10000;
	vertical-align: middle;
    text-align: center;
    padding: 5px 0 !important;
    /*height: 0px !important;
    opacity: 0.0;*/
}


/* LECTURES */

.lecture_div {
	margin: 10px 10px 15px 10px; 
	margin-top: 10px; 
	background-color: #f9f9f9;
	padding: 10px;
}

.progress {
    margin-bottom:0;
    margin-top:6px;
    margin-left:10px;
}


.resource {
	float: left;
	border: 1px dotted green;
	width: 140px;
	height: 100px;
	margin:5px;
	padding: 5px;
	background-color: white;
}


/*.course_author_image {*/
/*	width: 100%;*/
/*	min-height: 100px;*/
/*	max-height: 300px;*/
/*    background-position: center;*/
/*    position: relative;*/
/*	background-repeat: no-repeat;*/
/*	background-size: cover;*/
/*}*/

.course_author_image {
	background-repeat: no-repeat;
	background-size: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-position: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.bottom_cover {
	position: absolute;
	height: 25%;
	width: 100%;
	min-height: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 10px;
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.course_author_image:hover > .bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.lecture_cover_image:hover > .bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.course_image_div {
	width: 100%;
	position: relative;
}

.course_image_div:hover > .bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}



.image_container {
	width: 100%;
	/*min-height: 100px;*/
	/*background-color: white;*/
	color: #CCC;
	position: relative;
}

.image_container_inner:hover > .image_change_bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.image_container_inner:hover > .bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}


.image_change_bottom_cover {
    position: absolute;
    height: 60px;
    min-height: 60px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align: center;
    padding: 10px;
    opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}



.nav-course a {
	color: #5065e6;
}

.nav-course.active {
	background-color: #5065e6;
	color: white;
}

.nav-course.active a{
	color: white;
}


.nav-study-case {
	color: #ffad00;
}

.nav-study-case.active {
	background-color: #ffad00;
	color: white;
}

.nav-study-case.active a{
	color: white;
}



.bck-gray {
	background-color: #f2f2f2;
}

.bck-darkgray {
	background-color: #666666;
}

.radio_course + label{
	background-color: #f2f2f2;
	color: #666;
}


.radio_course:checked + label {
   background-color: #419641;
	color: white;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.panel-default .panel-heading {
	background-color: #f2f2f2;
	background-image: none;
}

.video-js {
	width: 100%;
	height: 300px;
}

.no-preview {
	font-size: 10pt;
	width: 100%;
	height: 100%;
	/*min-height: 0px;
	border: 2px dashed #CCC; 
	padding-top: 50px; */
	text-align: left;
	color: #CCC;
}

.no-preview:hover {
	background-color: #f2f2f2;
}


.resource-hover:hover {
	color: white;
	background-color: #5b6ee3;
}

.resource-hover {
	padding-top: 5px; 
	padding-bottom: 5px; 
	background-color: white;
}

.resource-div {
	padding-top: 5px; 
	padding-bottom: 5px; 
	background-color: white;
}


.sortable_ul {
	padding:0px;
}

.sortable_li {
	list-style-type: none;
	background-color: #f9f9f9;
}

.collapsable_arrow {
	width: 30px;
    text-align: center;
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 18px;
    color: #1f6094;
    cursor: pointer;
}

.movable_arrow {
	width: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 18px;
    color: #1f6094;
    cursor: move;
}

.movable_arrow_lecture_grid {
	width: 30px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 18px;
    color: #1f6094;
    cursor: move; 
}

.movable_arrow_lecture {
    width: 30px;
    text-align: center;
    /*position: absolute;
    right: -20px;
    top: 0px;*/
    font-size: 18px;
    color: #5065e6;
    cursor: move;    
}


.dropdown{
	/*z-index:999;*/
}


.criteria_li {
	list-style-type: none;
}

.sortable_div_0, .sortable_div_1, .sortable_div_2, .sortable_div_3  {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sortable_div_0 {
	background-color: white;
}

.sortable_div_1 {
	background-color: #EEE;
}

.sortable_div_2 {
	background-color: #DDD;
}

.sortable_div_3 {
	background-color: #CCC;
}
 

.top-padding-small {
	padding-top: 7px;
}

.padding-small {
	padding-top: 7px;
	padding-bottom: 7px;
}

.row-links tr{
	cursor: pointer;
}

/* DROPZONE */
.dropzone_div {
	padding: 10px 20px;
	background-color: white;
	border: 2px dotted #CCC;
	font-size: 14px;
	color: #CCC;
	width:100%;
	text-align: center;
	margin-top: 5px;

}

.resource_hr {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
    border: 0;
    border-top: 1px solid #CCC;
}

.resource_view_selector {
	font-size: 16pt;
	margin-right: 5px;
	cursor: pointer;
}

.resource_view_selector:hover {
	text-shadow: 
	-webkit-text-shadow: 0 0 10px rgba(0,0,0,.3);
	text-shadow: 0 0 10px #424242;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#wait {
	display: none;
	color: #CCC;
	text-align: center;
}

.datatable_grid_image {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
}

.lecture_grid_image, .lecture_grid_no_image, .datatable_grid_image_container {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #FFF;
	border: 1px solid lightgray;
	font-size: 30pt;
	color: #DDD;
	text-align: center;
	height: 150px;
	overflow: hidden;
}

/*
.hover_below img {
	-webkit-transform: rotate(0) scale(1.2);
	transform: rotate(0) scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover_below:hover img {
	-webkit-transform: rotate(15deg) scale(1);
	transform: rotate(15deg) scale(1);
}
*/

.lecture_grid_no_image {
	/*background-size: 30%;*/
}

.lecture_grid_text {
	padding: 10px;
	height: 155px;
	background-color: #e6e6e6;
}


.datatable_grid_div_bottom_cover {
	position: absolute;
	height: 150px;
	left: 30px;
	right: 30px;
	top: 0;
	text-align: center;
	opacity: 0;
	background-color: #9b26af;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.datatable_grid_div:hover > .datatable_grid_div_bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}


.datatable_grid_div {
	margin-bottom: 20px; 
	margin-top: 20px; 
	list-style-type: none;
	height: 305px;
}

.tooltip_text {
	color: #1E72BD;
	padding-left: 5px;
}

.ui-tooltip-content {
    font-size: 10pt;
    font-family: 'Ubuntu', lens, sans-serif;
	padding: 0px;
}


.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background-color: white;
	font-family: 'Ubuntu', lens, sans-serif;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);	
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
}

body .ui-tooltip {
	border-width: 2px;
}

.shadow {
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);	
}

.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.lecture_grid_image_add {
	width: 100%;
	height: 300px;
	padding-top: 70px;
	color: #E6E6E6;
	text-align: center;
	background-color: white;
}

.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
	z-index: 50000000;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-n {
	height: 2px;
	top: 0;
}
.ui-dialog .ui-resizable-e {
	width: 2px;
	right: 0;
}
.ui-dialog .ui-resizable-s {
	height: 2px;
	bottom: 0;
}
.ui-dialog .ui-resizable-w {
	width: 2px;
	left: 0;
}
.ui-dialog .ui-resizable-se,
.ui-dialog .ui-resizable-sw,
.ui-dialog .ui-resizable-ne,
.ui-dialog .ui-resizable-nw {
	width: 7px;
	height: 7px;
}
.ui-dialog .ui-resizable-se {
	right: 0;
	bottom: 0;
}
.ui-dialog .ui-resizable-sw {
	left: 0;
	bottom: 0;
}
.ui-dialog .ui-resizable-ne {
	right: 0;
	top: 0;
}
.ui-dialog .ui-resizable-nw {
	left: 0;
	top: 0;
}

.platform_icon {
	background-size: 100%; 
	width:30px;
	height: 30px;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 7px 0 rgba(0,0,0,.2);			
}

.arrow_modal {
	background-color: #ccc;
	
}

.modal_url {
	cursor: pointer;
}

.sort_selector {
	cursor: pointer;
}

.no_name {
	color: #AAA;
}


.shadow-small {
	-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
}

.shadow-text-small {
	text-shadow: 1px 1px 11px rgba(0,0,0,1);
}

.edit-mode-header-tr {
	height: 60px; 
	vertical-align: middle; 
	font-size: 25pt !important;
	line-height: 35pt;
	padding-bottom: 6px;
}

.resource-title {
	font-size: 11pt;
	font-weight: bold;
	word-wrap: break-word;
	vertical-align: middle;
}

.grid_date {
	margin-top: 3px;
	font-size: 9pt;
}

.resource_grid_li:hover > .resource_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.resource_grid_li {
	list-style-type: none;
    height: 110px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.resource_cover {
	position: absolute;
	padding-top: 30px;
	height: 100px;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 0px;
	text-align: center;
	opacity: 0;
	background-color: #9b26af;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	z-index: 100;
}

.resource_grid_icon {
	color: white; 
	font-size: 20pt; 
	margin-top: 10px;
}

.resource_grid_name {
    color: white !important;
    width: 100%;
    height: 38px;
    line-height: 1.4;
    font-size: 8pt;
}

.study_case_image_li {
	border: inherit;
	height: 150px;
	position: relative;
	text-align: center;
}

.study_case_images_ul {
	border:1px #DDD solid;
	overflow: auto;
	text-align: center;
	width: 100%;
	padding: 10px;
}

.study_case_images {
	text-align: center;
	width: 100%;
}

.movable_arrow_study_case_image {
	width: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: #ffad00;
    cursor: move; 
}

.image-frame {
	width:100%;
	height: 140px;
}

#studyCaseImageSlideshow {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.image-slideshow {
	max-width:100%; 
	max-height: 585px; 
	margin-left: auto; 
	margin-right: auto; 
}

.btn-danger {
	background-image: none;
	background-color: #c12e2a;
}
.btn-success {
	background-image: none;
	background-color: #419641;
}


.transparent {
	opacity: 0.6;
}

.datatable_grid_div:hover .crossed-eye-bck:before {
	font-family: 'FontAwesome';
	text-align: center;
	position: absolute;
	left:auto;
	right: auto;
	content: " ";
}

.crossed-eye-bck:before {
	font-family: 'FontAwesome';
	text-align: center;
	position: absolute;
	content: "\f070";
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	top: 30px;
	border-radius: 50%;
	padding-top: 10px;
	font-size: 40pt;
	background-color: #1f6094;
	color: #FFFFFF;
	width: 100px;
	height: 100px;
}

h5 {
	font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 10px 0;
    font-size: 15px;
}

.report_download {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    z-index: 500;
}
.ui-front {
	z-index: 2000;
}

.scombobox {
	margin:0px;
}

.scombobox-display {
	height: auto;
}

.news_image {
	max-width: 100%;
	height: 500px;
}

.home_news_image { 
	background-size: cover; 
	background-position:center; 
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
}

.home_news_text {
	min-height: 85px;
	color: white !important;
}

#content_tabs{
	margin-bottom: 0px;
	border-bottom: 1px solid #ddd;
}

.mce-branding-powered-by {
	display: none !important;
}

.modal {
    overflow-y: auto;
}

.edit_project_resource.active {
	background-color: #CCC;
}

.changelog {
	height: 300px;
	overflow: auto;
	width: 100%;
	font-size: 10pt;

}

.platform-version {
	color: #CCC;
	font-size: 10pt;
}

.left_menu_edit {
	background-color: #EEE;
}

label {
	font-weight: normal;
}

.resolved {
	background-color: #dff0d8 !important;
}

.member-default-icon {
	padding: 60px 20px;
	background-color: white;
	margin: 5px;
	text-align: center;
	color: gray;
	border: 1px lightgray solid;
}

.member-list {
	padding-bottom: 15px; 
	margin-bottom: 15px; 
	border-bottom: 1px dashed lightgray;
}
.close {
	margin-right: 8px;
}

.borderless td, .borderless th {
    border: none !important;
}

.criteria-header {
	background-color: transparent !important;
	border: 0px none;
	padding: 0px;
}

.criteria-header:hover {
	background-color: #f6e4c8 !important;
}

.criteria-body {
	padding: 0 0 0 6%;
	border: 0px none !important;
}

.criteria-group {
	margin: 0;
	background-color: transparent;
}

.criteria-panel {
	border: 0px none;
    background: transparent;
}
    
.odd {
	background-color: #F2F2F2 !important;
}

.criteria-name {
	padding: 5px;
	cursor: pointer;
	display: inline-block;
}

.criteria-selected{ 
	background-color:#FFAD00 !important;
	color: white !important ;	
}

.criteria-parent-selected{ 
	background-color:#fcd88a;
	color: white !important ;	
}

.select_by_criteria_tab {
	position: absolute;
	right: 0;
	width: 250px;
	z-index: 500;
	font-size: 10pt;	
}

#criteriaTabContent {
    width: calc(100% - 250px);
    float:left;
}

.criteria_loader {
	width: 100%; 
	text-align: center; 
	padding-left: 250px; 
	margin-top: 30px;
}

.full_screen {
	position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0 none;
}

.light-gray-bck {
	background-color: #EEEEEE;
	border-bottom: 1px #DDDDDD solid;
}

.no_border {
	border: 0px none !important;
}

.select_by_criteria_tab_pane {
	padding: 10px;
	background-color: #FFAD00;
    color: white;
    min-height: 55px;
}



.margin-small {
	margin-top: 5px;
	margin-bottom: 5px;
}

#criteria_tab {
	float: right;
}

.select_by_criteria_tab > .nav-tabs > li.active>a {
	background-color: #FFAD00;
	color: white;
}

.select_by_criteria_tab > .nav-tabs > li {
	margin-bottom: 0px;
}


.advanced_research_button {
	color: #999;
    font-size: 9pt;
    font-weight: bold;
    border-radius: 2px;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-color: #e6e6e6;
}

.advanced_research_button_selected {
	color: #1f6094;
}

.clear_advanced_search_filters {
	display: inline-block;
	top: -3px;
	padding-top: 5px;
}

#grid_datatable {
	clear: both;
}

.line-limit {
	word-wrap: break-word;
}

.inline {
	display: inline-block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.text-gray {
	color: #CCC;
}

#show-video {
	padding: 20px; 
}

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  } 
}

.admin-header {
	min-height: 300px; 
	padding-top: 20px;
}

article {
	min-height: 600px;
}

#loaderContainer {
	position:fixed;
	background-color:rgba(0,0,0,0.6);
	width:100%; 
	height:100%;
	padding-top: 300px;
	top:0; left:0; bottom:0; right:0;
	text-align:center; 
	vertical-align:middle; 
	color: white;
	display: none;
	z-index: 100000;
}


.home_datatable th {
	font-size: 12px;
}

input:checked + .slider_platform.round.all_platforms_switch:before {
    background-color: rgb(31,96,148); 
}



.close-icon {
	border:1px solid transparent;
	vertical-align: middle;
	outline: 0;
	content: "X";
	display: none;
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #1f6094;
	z-index: 1;
	right: 25px;
	top: -22px;
	bottom: 0;
	margin: auto;
	padding: 0px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
}
.header-search:not(:valid) ~ .close-icon {
	display: none;
}


.publish_object {
    width: 40px;
    height: 40px;
    padding: 0px;
}

.delete-resource, .delete_course{
    width: 40px;
    height: 40px;
    padding: 0px;
    padding-top: 4px;
}

.dataTable .delete_course,  .delete_lecture, .delete_tool{
    width: 40px;
    height: 30px;
    padding: 0px;
    padding-top: 10px;
}

.download_resource:hover {
	background-color:#666 !important;
}

.resource_grid_published_icon {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	top: -6px;
	color: #ffffff;
	font-size: 60pt;
	opacity: .2;
	z-index: 1;
	text-align: center;
}

.inline_for_button {
	width: calc(100% - 50px);
	float: left;
	margin-right: 10px;
}

.criteria-bck-0 {
	background-color: #FFF !important;
}

.criteria-bck-1 {
	background-color: #EEE !important;
}

.criteria-bck-2 {
	background-color: #DDD !important;
}

.criteria-bck-3 {
	background-color: #CCC !important;
}


.panel-collapse-toggle:after {
	font-family: 'FontAwesome';
	content: "\f0d8";
	float: right;
}

.panel-collapse-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\f0d7";
	font-family: 'FontAwesome';
}


.resourceRowUnpublished {
	height: 100px;
	background-color: #CCC;
}

.resourceRowPublished {
	height: 100px;
	background-color: #EA83FC;
}